.input {
    padding: .5em;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 0px #0000000D;
    appearance: none;
	border: none;
	outline: none;
    font-size: 16px;
    cursor: pointer;
}

.input:hover {
    box-shadow: 0px 0px 40px 15px #0000000D;
}
