.button {
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    filter: brightness(0.7);
}

/* colors */

.button--white {
    background-color: white;
    color: rgba(0,0,0,.4);
}

.button--blue {
    background-color: var(--blue);
}

.button--light-green {
    background-color: var(--light-green);
}

/* sizes */

.button--large {
    padding: 1em;
}

.button--small {
    padding: .4em 1em;
}
