.button {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: black;
}

.button:hover {
    filter: brightness(0.7);
}

/* colors */

.button--blue {
    background-color: var(--blue);
    color: white;
}

.button--light-green {
    background-color: var(--light-green);
}

/* sizes */

.button--large {
    padding: .8em 1em;
}

.button--small {
    padding: .4em 1em;
}

button:disabled, button:disabled:hover {
    cursor: default;
    filter: opacity(50%);
}
