.input-date {
    width: 83%;
    padding: .9em 1em !important;
    font-size: 14px;
}

.arrow-down {
    right: 0%;
    top: 25%;
    width: 20px;
    cursor: pointer;
}

.react-datepicker-wrapper {
    width: 94%;
}

.input-date::placeholder {
    text-align: center;
}

@media only screen and (max-width:1200px){
    .input-date {
        width: 100%;
    }

    .react-datepicker__input-container {
        width: 97%;
    }

    .react-datepicker-wrapper {
        width: 100%;
    }
}
