h1 {
    font-family: "Ferry";
    font-size: 60px;
}

h2 {
    font-family: "Ferry";
    font-size: 45px;

}

.desc {
    display: flex;
    flex-direction: row;
    margin-top: 5em;
}

.desc__left {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.desc__left__title {
    margin: 0;
    line-height: 72px;
}

.desc__left__text {
    width: 75%;
    font-size: 20px;
    line-height: 24.2px;
    margin-bottom: 3em;
}

.desc__left__btn {
    font-size: 22px;
    width: 45%;
}

.why-we {
    margin-top: 7em;
}

.slick-slider {
    margin: 4em 2em;
}

.slick-arrow.slick-next,
.slick-arrow.slick-prev {
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.7;
}

.slick-arrow.slick-next:hover,
.slick-arrow.slick-prev:hover {
    opacity: 1;
}

.slick-prev::before,
.slick-next::before {
    display: none;
}

.tariffs {
    margin-top: 8em;
}

.tarrif-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
