.document-card {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 20px 0px #00000033;
    border-radius: 10px;
    padding: 1em 2em 2em 2em;
    font-size: 16px;
}

.document-card__header {
    display: flex;
    flex-direction: row;
    color: gray;
    column-gap: 1em;
}

.document-card__header > a {
    cursor: pointer;
    color: gray;
}

.document-card__header > a:hover {
    text-decoration: underline;
}

.document-card__content h1,
.document-card__content h2 {
    font-family: "Inter" !important;
    font-size: 26px !important;
}

.document-card__content__type {
    display: inline;
    border-radius: 5px;
    padding: .2em .5em;
    font-size: 12px;
    color: black !important;
}

.document-card__content__type--tech {
    background: rgba(255, 182, 79, 1);
}

.document-card__content__type--anonce {
    background-color: rgb(108, 175, 136)
}

.document-card__content__type--digest {
    background-color: rgb(136, 109, 200);
}

.document-card__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: gray;
}

.document-card__content > p {
    color: gray;
}

.document-card__content__image-box {
    position: relative;
    overflow: hidden;
    height: 158px;
    border-radius: 10px;
}

.document-card__content__image-box__image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    width: 100%;
}

.document-card__footer__word-count {
    display: flex;
    align-items: end;
    padding: 0;
    margin: 0;
}

@media only screen and (max-width:1200px) {
    .document-card {
        font-size: 14px;
        padding: 1em 1.5em 1em 2em;
    }

    .document-card__content>h1 {
        font-size: 19px;
    }

    .document-card__content__type {
        font-size: 10px;
    }

    .document-card__content>p {
        font-size: 12px;
    }
}
