.login__left > h1 {
    font-family: "Ferry";
    font-size: 40px;
}

.login {
    display: flex;
    flex-direction: row;
    margin-top: 3em;
    justify-content: space-between;
}

.login__left {
    display: flex;
    flex-direction: column;
    width: 65%;
}

.login__left__img {
    margin-left: 8em;
}

.lock {
    display: block;
    position: absolute;
    top: -4em;
    left: -3em;
}

.login__bottom__img {
    display: none;
}

@media only screen and (max-width:1300px){
    .login {
        flex-direction: column;
    }

    .lock {
        display: block;
        position: absolute;
        top: -5em;
        left: 6em;
        width: 70px;
    }

    .login__left {
        width: auto;
    }

    .login__left > h1 {
        font-size: 22px;
    }

    .login__left__img {
        display: none;
    }

    .login__bottom__img {
        display: block;
        margin-top: 2em;
        align-self: center;
        width: 100%;
    }
    
}
