.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 4em;
}

.header__right {
    display: flex;
    flex-direction: row;
    width: 59%;
    justify-content: space-between;
    align-items: center;
}

.header__right__login {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 0;
}

.header__regbtn {
    background-color: transparent;
}

.vertical-line {
    width: 2px;
    height: 26px;
    margin: 0 1em 0 0;
    background-color: var(--green);
}

.header__nav {
    display: flex;
    flex-direction: row;
    column-gap: 4em;
}

.nav__item {
    text-decoration: none;
    color: #000;
}

.nav__item:hover {
    text-decoration: underline;
}

.header__right__user-logout {
    display: flex;
    flex-direction: column;
    margin-right: .3em;
}

.header__right__user-logout > p {
    margin: 0;
}

.header__right__user-logout > a {
    color: gray;
    float: right;
    background: transparent;
    font-size: 10px;
    text-align: end;
    cursor: pointer;
}

.header__right__user-logout > a:hover {
    filter: brightness(50%);
}

.header__burger {
    display: none;
    border: none;
    background: transparent;
    background: no-repeat url("../../assets/img/burger.svg");
    background-size: contain;
    width: 2em;
    height: 2em;
}

.burger-menu {
    display: none;
    padding: 0 1em;
    background-color: var(--green);
}

.burger-menu__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.burger-menu__header__close {
    border: none;
    background: transparent;
    background: no-repeat url("../../assets/img/close-burger.svg");
    background-size: contain;
    width: 2em;
    height: 2em;
}

.header__burger:hover, .burger-menu__header__close:hover {
    filter: brightness(80%);
}

.burger-menu__main, .burger-menu__main__nav, .burger-menu__main__btns {
    display: flex;
    flex-direction: column;
}

.burger-menu__main__nav {
    align-items: center;
    row-gap: 1em;
    color: white;
    margin-bottom: 2em;
}

.burger-menu__main__nav > a{
    color: white;
    text-decoration: none;
}
.burger-menu__main__nav > a:hover {
    text-decoration: underline;
}

.burger-menu__main__btns {
    align-items: center;
    row-gap: 1em;
    margin-bottom: 4em;
}

.burger-menu__main__btns > .header__regbtn {
    color: white;
}

.burger-menu__main__btns__login {
    width: 80%;
}

.burger-menu__main__btns__login  > button {
    width: 100%;
}

@media only screen and (max-width:1200px){
    .header {
        padding: 0 1em;
    }

    .header__burger{
        display: block;
    }

    .header__right {
        width: auto;
        column-gap: 2em;
    }

    .header__right__login, .header__nav {
        display: none;
    }
}
