.search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3em;
}

.search__left {
    display: flex;
    flex-direction: column;
    width: 65%;
}

.search__left > h1 {
    font-size: 40px;
    width: 70%;
}

.search__left__block {
    display: flex;
    flex-direction: row;
}

.search__left__block__text > p {
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.search__left__block__image {
    display: none;
}

.search__right {
    width: 35%;
    position: relative;
}

.search__right__img-files {
    display: flex;
    flex-direction: row;
    position: relative;
}

.search__right__img-files > img:nth-child(1) {
    width: 100px;
    position: absolute;
    left: 1em;
    top: 7em;
}

.search__right__img-files > img:nth-child(2) {
    width: 150px;
    position: absolute;
    right: 3em;
    top: 8em;
}

.search__right__img-people {
    width: 90%;
    position: absolute;
    bottom: 0;
    left: 6em;
}

.label--required::after {
    content: ' *';
    font-size: 25px;
}

@media only screen and (max-width:1200px){
    .search {
        flex-direction: column;
    }

    .search__left, .search__right {
        width: 100%;
    }

    .search__left > h1 {
        font-size: 28px;
        width: 90%;
    }

    .search__left > p {
        font-size: 18px;
    }

    .search__left__block__text {
        width: 80%;
    }

    .search__right__img-files {
        display: none;
    }

    .search__right__img-people {
        position: static;
        width: 110%;
    }

    .search__left__block {
        position: relative;
    }

    .search__left__block__image {
        display: block;
        width: 60px;
        position: absolute;
        right: 1em;
        top: -4em;
    }
}
