
.search-form {
    padding: 2em 3em 0 3em;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    justify-content: space-between;
    margin-top: 3em;
}

.search-form__left, .search-form__right {
    display: flex;
    flex-direction: column;
}

.search-form__left {
    margin-bottom: 3em;
    width: 48%;
}

.search-form__left > div:nth-child(1) {
    width: 65%;
    display: flex;
    flex-direction: column;
    row-gap: 2em;
}

.search-form__left__label-input {
    display: flex;
    flex-direction: column;
}

.search-form__left__label {
    font-size: 18px;
    margin-bottom: 1em;
}

.search-form__left__label-dates {
    margin-bottom: .5em;
}

.search-form__left__input {
    text-align: center;
    padding: .9em 1em;
    font-size: 14px;
}

.search-form__left__input-date {
    width: 82%;
}

.search-form__left__input-count {
    width: 57%;
}

.search-form__left__label-input-count {
    margin-bottom: 2em;
}

.search-form__left__label-input-count > .search-form__left__error {
    width: 66%;
}

.search-form__left__dates {
    display: flex;
    flex-direction: column;
    row-gap: .5em;
}

.search-form__left__inputrow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.search-form__left__inputrow > .input-date-box {
    width: 47%;
}

.search-form__right {
    align-items: start;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    justify-content: space-between;
    width: 52%;
}

.search-form__right__label {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    font-size: 18px;
    color: gray;
}

.search-form__right__label--checked {
    color: black;
}

.search-form__right__label__input {
    margin-top: 0;
    width: 20px;
    height: 20px;
    margin-right: 1em;
}

.search-form__right__footer {
    align-self: end;
    margin-top: 9em;
    width: 75%;
    color: gray;
}

.search-form__right__footer__button {
    width: 100%;
    font-size: 22px;
}

.search-form__left__select {
    box-shadow: 0px 0px 20px 0px #0000000D;
    border-radius: 5px;
    background-color: white;
    padding: 1em;
    text-align: center;
    width: 100%;
    font-size: 14px;
    margin-top: 1em;
}

@media only screen and (max-width:1200px){
    .search-form__left, .search-form__right, .search-form__left__input, .search-form__left__select {
        width: 100%;
    }

    .search-form, .search-form__left__inputrow {
        flex-direction: column;
        row-gap: 1em;
    }

    .search-form {
        margin: 2em -1em;
        padding: 2em;
    }

    .search-form__right__footer {
        margin-top: 1em;
        width: 100%;
    }

    .search-form__left__input {
        box-sizing: border-box;
    }

    .search-form__left > div:nth-child(1), .search-form__left__inputrow > .input-date-box {
        width: 100%;
    }
}
