.footer {
    background-color: var(--green);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 4em;
    color: white;
    align-items: center;
    margin-top: 7em;
}

.footer__right {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.footer__right__info {
    line-height: 5px;
}

.footer__right__copyright {
    font-size: 12px;
}

@media only screen and (max-width:1200px){
    .footer {
        font-size: 14px;
        padding: 0 2em;
    }

    .footer > img {
        align-self: self-start;
    }
}
