@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-Regular.ttf");
}

@font-face {
  font-family: "Ferry";
  src: url("./assets/fonts/ferry_black.otf");
  font-weight: 900;
}

body {
  margin: 0;
  background-color: white;
  font-family: "Inter";
  font-size: 14px;
}

:root {
  /* main colors */
  --green: #029491;
  /* also black and white */

  /* additional colors */
  --yellow: #FFB64F;
  --light-green: #7CE3E1;
  --blue:#5970FF;
}

.main {
  padding: 0 4em;
}


.label--required::after {
  content: ' *';
  font-size: 25px;
}
